<p>dashboard works!</p>

<div fxLayout="row" fxLayout.xs="column">
    <div class="child-1">
        child 1 content
    </div>
    <div class="child-2">
        child 2 content
    </div>
</div>

<div class="container">
    <div class="flex-container" fxLayout="row">
      <mat-card class="child-1">1. One</mat-card> 
      <mat-card class="child-2">2. Two</mat-card> 
      <mat-card class="child-3">3. Three</mat-card>
    </div>
</div>

<div class="container">
    <div class="flex-container" fxLayout="column">
    <mat-card class="child-1">1. One</mat-card> 
    <mat-card class="child-2">2. Two</mat-card> 
    <mat-card class="child-3">3. Three</mat-card>
    </div>
</div>